@model Arch_GestTask.MVC.Models.Tache.AssignTaskForm

<h2>Choisissez une personne à assigner</h2>

<form asp-action="Assign" class="form-assign">

	<select class="form-select form-select-lg mb-3" asp-for="@Model.PersonId" asp-items="@(new SelectList(Model.People, nameof(Arch_GestTask.MVC.Models.Personne.PersonDisplayForm.PersonId), nameof(Arch_GestTask.MVC.Models.Personne.PersonDisplayForm.Name)))">

		<option>Choisissez une personne</option>

	</select>
	<input class="btn btn-primary " type="submit" value="Assigner" />
</form>
