@* @model Arch_GestTask.MVC.Models.Tache.TaskDisplayDetailsForm *@



<p><a asp-action="IsCompleted" asp-route-id="@ViewData["id"]" class="btn btn-outline-info">Cloturer la tache</a></p>
<p><a asp-action="Details" asp-route-id="@ViewData["id"]" class="btn btn-outline-info">Annuler</a></p>
