@model IEnumerable<Arch_GestTask.MVC.Models.Tache.TaskDisplayForm> 

	<h2>Liste des Taches</h2>
<table class="table">
	<tr>
		<th>Id</th>
		<th>Titre</th>
		<th>Description</th>
		<th>Détails</th>
		<th>ID Task</th>
		


	</tr>
@foreach(var task in Model){

	@Html.Partial("Partial", task)

}

</table>
