@model Arch_GestTask.MVC.Models.Tache.TaskDisplayForm

<tr>
	<td>@Model.TaskId</td>
	<td>@Model.Title</td>
	<td>@Model.Description</td>
	<td><a asp-action="Details" asp-route-id="@Model.TaskId" class="btn btn-outline-info">Details</a></td>


</tr>
